<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <overlay
        android:priority="9"
        android:category="com.android.internal.display_cutout_emulation"
        android:targetPackage="android" />
    <application android:label="@string/label" android:hasCode="false"/>
</manifest>
